<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>
    <h1>Statistics</h1>
    <h2>Correct answers:</h2>
    <ul>
        {% for question in user_data.correct %}
            <li>{{ question }}</li>
        {% endfor %}
    </ul>
    <h2>Incorrect answers:</h2>
    <ul>
        {% for question in user_data.incorrect %}
            <li>{{ question }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Go back</a>
</body>
</html>
